<section class='list'>
<h1> hello world </h1>
<% @users.each do |user| %>
   <%= render 'partials/user', user: user %>
<% end %>
<%= link_to 'log out', destroy_user_session_path, data: { turbo_method: :delete}%>
</section>
