<section class='list'>
  <%= render'partials/user', user: @user %>
<button class="back"><%= link_to 'back', users_path %></button>
   <% @posts.each do |post| %>
    <ul class="post-list">
    <%= render 'partials/post', post: post %>
    </ul>
    <% end %>
  <div class='pagy'>
 <%== pagy_nav(@pagy) %>
    </div>
</section>
